html, body
  margin 0
  padding 0
  color rgb(48, 57, 66)
.hidden
  display none
a
  color rgb(17, 85, 204)
  margin 0 4px
h1
  -webkit-margin-start 23px
  color rgb(92, 97, 102)
  margin-bottom 1em
  margin-top 21px
  font-size 1.5em
h1, h2 ,h3
  -webkit-user-select none
  font-weight normal
  line-height 1
.fl
  float left
.oh
  overflow hidden
.option-navs
  margin 12px 0
  list-style none
  padding 0
  width 155px
  float left
  & > li
    -webkit-border-start 6px solid transparent
    -webkit-padding-start 18px
    -webkit-user-select none
    cursor pointer
    margin 0
    padding 0 0 0 18px
    border-left 6px solid transparent
    line-height 29px
    &.selected
      border-color rgb(78, 87, 100)
      & > a
        color rgb(70, 78, 90)
    & > a
      color rgb(153, 153, 153)
      display block
      text-decoration none
.option-page
  float left
  margin -57px 0 0 0
  max-width calc(100% - 180px)
  width 800px
  transition all .2s
  relative left 0
  opacity 1

  &.showing
    opacity 0
    left -10px

  & > h2
    border-bottom 1px solid #eee
    margin 0
    padding 21px 0 13px 0
  .item
    padding 0 0 0 18px
    line-height 30px
  .theme .item span
    margin 0 0 0 7px
    vertical-align middle
  iframe
    border none
    outline none
    width 100%
    height 500px
  .size
    .item
      label
        margin 0 7px 0 0
        display inline-block
        width 36px
      span, label
        vertical-align middle
      input[type="range"]
        vertical-align middle
        cursor pointer
      .width
        width 9 * 20 px
      .height
        width 7 * 20 px
      .val
        margin 0 2px 0 10px
    .reset
      margin 10px 0 0 18px
.option-docs
  .arrow
    absolute top -250px
    font-size 350px
    line-height 1
    text-shadow 0 0 10px #7BAAF7, 0 0 150px #7BAAF7
    color #7BAAF7
    transition all .3s
    opacity 0
    &.showing
      top -130px
      opacity 1
    &.transparent
      top -130px
      opacity 0

.option-welcome
  .container
    padding 10px
    h3
      font-size 18px
    .content
      padding 5px
    p
      padding 5px 0

    kbd
      background #f9f9f9
      box-shadow 0 0 4px #eee
      padding 2px 6px
      font-family consolas
      border-radius 4px
      border #999
      margin 0 5px

.option-about
  .about-content
    margin 0 0 0 10px

  .report
    margin 20px 0 10px 0
