html
  overflow hidden
body
  font-family 'Open Sans', 'Helvetica Neue', Arial, 'Hiragino Sans GB', 'Microsoft YaHei', sans-serif
  overflow hidden
a
  text-decoration none

.hidden
  display none

form._search
  padding 10px 0
  width 100%

form._search:before
  background-image url(/images/icons-1995c50ef259efde5cbb060c896871d6adc005f67523fc9146e9ab6bacb5c50a.png)
  background-position -15px 0

.dark form._search:before
  background-position -75px -90px

.input._search-input
  width calc(100% - 20px)
  margin 0 auto

.results, .content
  max-height calc(100% - 46px)
  height calc(100% - 46px)
  overflow auto
  absolute top 46px
  width 100%

.splash._splash-title, .loading-text._splash-title
  font-weight bold
  font-size 30px
  text-align center

.content
  padding 0 20px
  box-sizing border-box
  overflow auto
  line-height 1.6
  h1
    margin-top .4em

//overwrite some styles in devdocs.io
body
  font-size 75% !important

._list-item
  padding .25rem 1.75rem !important
  cursor pointer !important

._cordova,
._grunt,
._less,
._lodash,
._marionette,
._markdown,
._mocha,
._mongoose,
._sinon,
._chai,
._coffeescript,
._express,
._go,
._lua,
._maxcdn,
._meteor,
._requirejs
  padding 0 20px 0 40px !important

._underscore
  padding-left 40px !important

._list-link:after,
._page a[href^="http:"]:after,
._page a[href^="https:"]:after,
._search:before,
._search-clear:before,
._notif-close:before,
._list-item:before,
._list-arrow:before,
._sidebar-footer-link:before,
._docs-name:before,
._path-item:first-child:before,
._path-item+._path-item:after,
._home-link:before,
._menu-link:before
  background-image url(/images/icons-1995c50ef259efde5cbb060c896871d6adc005f67523fc9146e9ab6bacb5c50a.png) !important
