global-reset()

html
  overflow hidden
.container
  font-family 'Open Sans', 'Helvetica Neue', Arial, 'Hiragino Sans GB', 'Microsoft YaHei', sans-serif
  font-size 14px
  max-width 700px
  width 700px
  background #e7f8e1
  padding 30px
  margin 40px auto 0 auto
  border-radius 4px
  border #89da70
a
  text-decoration none
  margin 0 5px
  color #0082c6

h1
  font-size 16px
  font-weight bold

.content
  line-height 1.8
  margin 20px 0 0 0

p
  padding 5px 0

kbd
  background #f9f9f9
  box-shadow 0 0 4px #eee
  padding 2px 6px
  font-family consolas
  border-radius 4px
  border #999
  margin 0 5px
