doctype html
html._mobile._theme-default
  head
    meta(charset="utf-8")
    title popup
    each css in htmlWebpackPlugin.files.css
      link(href=css rel='stylesheet')
  body._native-scrollbars
    ._app
    each js in htmlWebpackPlugin.files.js
      unless js.endsWith('-style.js')
        script(src=js)
