doctype html
html._mobile._theme-default
  head
    meta(charset="utf-8")
    title popup
    each css in htmlWebpackPlugin.files.css
      link(href=css rel='stylesheet')
  body._native-scrollbars
    ._app
    each chunk in htmlWebpackPlugin.files.chunks
      unless chunk.entry.endsWith('-style.js')
        script(src=chunk.entry)
