@import 'compass/reset'
$mdc-theme-primary: #1a73e8
$mdc-theme-accent: #1a73e8
@import '~@material/theme/mdc-theme'
@import '~@material/form-field/mdc-form-field'
@import '~@material/slider/mdc-slider'
@import '~@material/typography/mdc-typography'
@import '~@material/radio/mdc-radio'
@import '~@material/checkbox/mdc-checkbox'
@import '~@material/button/mdc-button'
@import '~@material/elevation/mdc-elevation'

@import '~material-design-icons/iconfont/material-icons.css'

#app
  padding: 0 10px 30px 10px
