doctype html
html
  head
    title background
    meta(charset='utf-8')
  body
    script(src='/bower_components/jquery/dist/jquery.min.js')
    script(src='/bower_components/lodash/lodash.js')
    script(src='/scripts/build/popup.js')
