doctype html
html
  head
    //- meta(http-equiv='refresh' content='0; url=http://devdocs.io')
    title 选项
    meta(charset="utf-8")
  link(rel='stylesheet' href='/styles/vendor/widgets.css')
  body
    h1 Quick Devdocs

    ul.option-navs
      li.option-nav: a(href="#") 外观
      li.option-nav: a(href="#") 文档
      li.option-nav: a(href="#") 关于

    .option-page
      h2 外观
      section
        h3 主题
        label
          input(type='radio' name='value')
          span light
        label
          input(type='radio' name='value')
          span dark

      section
        h3 弹窗大小
        input(type="range")
        input(type="range")
        button 重置为默认

    .option-docs
      h2 文档
      section
        p 去<a href='http://devdocs.io'>devdocs.io</a>选择

    .option-docs
      h2 关于
      section
        p Quick DevDocs
        button 报告问题
        p 版本： 0.1.0
