doctype html
html
  head
    //- meta(http-equiv='refresh' content='0; url=http://devdocs.io')
    title(data-i18n="optionsTitle")
    meta(charset="utf-8")
    link(rel='stylesheet' href='/styles/vendor/widgets.css')
    link(rel='stylesheet' href='/styles/build/options.css')
  body
    h1 Quick Devdocs

    ul.option-navs
      li.option-nav.option-welcome: a(href="#welcome" data-i18n="optionsWelcom")
      li.option-nav.option-apparence.selected: a(href="#apparence" data-i18n="optionsApparence")
      li.option-nav.option-docs: a(href="#docs" data-i18n="optionsDocs")
      li.option-nav.option-about: a(href="#about" data-i18n="optionsAbout")

    .option-page.option-welcome.hidden
      h2(data-i18n="optionsWelcom")
      .container
        h3(data-i18n='readmeTitle')
        .content
          p.p1(data-i18n='readmeP1')
          p.p2(data-i18n='readmeP2')
          p.p3(data-i18n='readmeP3')
          p.p4(data-i18n='readmeP4')

    form.option-page.option-apparence
      h2(data-i18n="optionsApparence")
      section.theme
        h3(data-i18n="optionsTheme")
        div.item: label
          input.light(type='radio' name='theme' value='light')
          span(data-i18n="optionsLight")
        div.item: label
          input.dark(type='radio' name='theme' value='dark')
          span(data-i18n="optionsDark")

      section.size
        h3(data-i18n="optionsWindowSize")
        div.item
          label(data-i18n="optionsWidth")
          input.width(type="range" name='width' min=300 max=1200 step=50)
          span.val.width-val 400
          span px
        div.item
          label(data-i18n="optionsHeight")
          input.height(type="range" name='height' min=300 max=1000 step=50)
          span.val.height-val 400
          span px

    .option-page.option-docs.hidden
      h2(data-i18n="optionsDocs")
      section
        p(data-i18n="optionsSelectFrom")
        p.arrow ↓
        .iframe-container: iframe

    .option-page.option-about.hidden
      h2(data-i18n="optionsAbout")
      section
        .oh
          img.fl(src='/images/icon-38.png')
          .fl.about-content
            h3 Quick DevDocs
            p(data-i18n="optionsAboutDesc")

        a(href='mailto:theguidanceofawhitetower@gmail.com?subject=I found a problem in Quick DevDocs...')
          button.report(data-i18n="optionsReport")

        p
          span(data-i18n="optionsVersion")
          span 0.1.0
        p(data-i18n="optionsOpenSource")

  script(src='/components/jquery.min.js')
  script(src='/scripts/vendor/chrome-i18n.js')
  script(src='/scripts/options.js')
