doctype html
html
  head
    meta(charset='utf-8')
    link(rel='stylesheet' href='/styles/build/popup.css')
    link(rel='stylesheet' href='/styles/vendor/devdocs.io-3e3f6bc0e5dff8cae44d3417d3cac9f3.css')
  body
    form
      input.input(name='a' autofocus='autofocus' placeholder='Search...')
    .splash DevDocs
    .results.hidden
    .content.hidden
    script.result-template(type='text/html')
      | <% _.each(obj, function(result) { %>
      .result._list-item(class!='_icon-<%= result.category %>' data-score!='<%= result.score + "|"+ result.message %>' data-type!='<%= result.type %>' data-path!='<%= result.path %>' data-category!='<%= result.category %>') <%= _.escape(result.name) %>
      | <% }) %>

    script(src='/components/jquery.min.js')
    script(src='/components/lodash.min.js')
    script(src='/components/backbone.js')
    script(src='/scripts/popup.js')
