doctype html
html
  head
    title(data-i18n='readmeTitle')
    meta(charset='utf-8')
    link(rel='stylesheet' href='/styles/build/readme.css')
  body
    .container
      h1(data-i18n='readmeTitle')
      .content
        p.p1(data-i18n='readmeP1')
        p.p2(data-i18n='readmeP2')
        p.p3(data-i18n='readmeP3')
        p.p4(data-i18n='readmeP4')
    script(src='/scripts/vendor/chrome-i18n.js')
